.rowfixed{
    display: flex;
    flex-direction: row;
}
.colfixed-1{
    flex: 0 0 200px;

}
.colfixed-2{
    flex: 1;
    min-width: 100px;

}
.colfixed-3{

    flex: 0 0 300px;

}
div{
    border: solid 1px black;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
