.rowfixed{
    display: flex;
    flex-direction: row;
}
.colfixed-1{
    flex-grow: 1;
    width: 200px;

}
.colfixed-2{

    flex-grow: 2;
    min-width: 100px;

}
.colfixed-3{

    width: 300px;  
    flex-grow: 3;

}
div{
    border: solid 1px black;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
